/Control/nbproject/private/
/ChartAdvancedStockLine/nbproject/private/
/ChartAdvancedStockLine/build/
/ChartAdvancedStockLine/dist/
/KPI Assessment/nbproject/private/
/KPIAssessment/build/
/KPIAssessment/nbproject/private/
/GLSQSAuditorLibrary/build/
/JasperReports-Library/build/
/Eclipselink/build/
/Derbyclient/build/
/Apache-POI/build/
/KPIAssessor/build/
/KPIAssessor/nbproject/private/
/GLSQSAuditorLibrary/nbproject/private/
/GLSQSALibrary/nbproject/private/
/GLSQSALibrary/build/
/GLSQSALibrary/dist/
/GLSQSAuditorLibrary/dist/